<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Playbook Documenter UI</title>
    <meta name="description" content="Test">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/css/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
    <link rel="stylesheet" href="./static/playbook_documenter_ui.css">

    <!-- SCRIPTS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.js"></script>
</head>

<body class="light">
    <div class="top-bar blue">
        <div class="top-bar-left">
            <b>Playbook Documenter UI</b> - Create documentation for ThreatConnect playbooks/components
        </div>
    </div>

    <br>

    <div class="row">
        <p>Paste the contents of a ThreatConnect playbook or component below to view documentation for it:</p>
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <span class="{{ category }}">{{ message }}</span>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% if html_docs %}
            {{ html_docs|safe }}

            <textarea id="markdownDocs" style="opacity: 0;">{{ markdown_docs }}</textarea>
            <button class="button blue" onclick="copyText('markdownDocs')">Copy documentation as markdown</button>
        {% else %}
            <form action="{{ url_for('document_playbook') }}" method="post">
                <!-- <input type="text" name="domain" placeholder="Enter a domain name..."> -->
                <textarea name="playbook" placeholder="Paste pb contents here..."></textarea>
                <input type="submit" class="button blue">
            </form>
        {% endif %}
    </div>

    <footer class="large-12 dark">
        Designed and written by <a href="https://hightower.space">Floyd Hightower</a>.

        <span class="float-right">
            View code on <a href="https://gitlab.com/fhightower-tc/playbook-documenter-ui">Gitlab</a>.
        </span>
    </footer>

    <script>
        function copyText(elementId) {
            /* Copy the text from the given element. */
            var textArea = document.getElementById(elementId);
            textArea.select();
            var copied = document.execCommand("copy");
            if (copied) {
                textArea.blur();
                $.jGrowl('Text copied', {group: 'success-growl'});
            } else {
                $.jGrowl('Unable to copy text', {group: 'failure-growl'});
            }
        }
    </script>
</body>
